[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=slicker_launcherplugin
X-KDE-FactoryName=LauncherPluginConfigFactory
X-KDE-ParentApp=slicker_launcherplugin
X-KDE-ParentComponents=slicker_launcherplugin

Name=LauncherPlugin
Comment=Launch applications from Slicker
