[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=slicker_clock
X-KDE-FactoryName=ClockPluginPrefsFactory
X-KDE-ParentApp=slicker_clock
X-KDE-ParentComponents=slicker_clock

Name=Clock
Comment=A clock for Slicker
