[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=slicker_testplugin
X-KDE-FactoryName=TestpluginConfigFactory
X-KDE-ParentApp=slicker_testplugin
X-KDE-ParentComponents=slicker_testplugin

Name=TestPlugin
Comment=Highlights text based on filters
Comment[xx]=xxHighlights text based on filtersxx
