[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Slicker/Plugin
X-KDE-Library=slicker_testplugin
X-KDE-PluginInfo-Author=Ulrik Mikaelsson
X-KDE-PluginInfo-Email=rawler@users.sourceforge.net
X-KDE-PluginInfo-Name=slicker_testplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=N/A
X-KDE-PluginInfo-Category=GPP
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=TestPlugin
Comment=Test out various features and code from Slicker
