[Desktop Entry]
Name=IMApplet
Comment=IM Applet using Kopete
Author=Erik Mathisen
Provides=AppletOnly
Version=0.1 alpha
X-KDE-Library=libslickerimapplet
X-KDE-UniquePlugin=false
